# values-custom.yaml

# Admin credentials
adminUser: admin
adminPassword: "admin"

# Service type
service:
  type: NodePort
  nodePort: 32000  

# Persistence 
persistence:
  enabled: false
  size: 2Gi         
  storageClassName: nfs-client  
  accessModes:
    - ReadWriteOnce

# Datasources 
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://localhost:9091
        access: proxy
        isDefault: true

# Ingress 
ingress:
  enabled: false

# Dashboards sidecar
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    folder: /tmp/dashboards

# Image version
image:
  repository: grafana/grafana
  tag: 12.3.1
  pullPolicy: IfNotPresent

# Replicas
replicas: 1

# Resources 
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

